**/node_modules
**/dist
**/.env
**/.env.*
!.env.example

frontend/
frontend/.expo
frontend/.expo-shared
frontend/android/.gradle
frontend/android/local.properties

.vercel/
vercel.json
.vercelignore

.vscode/

hs_err_pid*.log
replay_pid*.log
npm-debug.log
*.log
